body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 50px;
}

nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: #555;
    padding: 10px 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ff6347;
}

main {
    padding: 2rem;
    text-align: center;
}

h1 {
    color: black;
}

.carrusel-container {
    position: relative;
    width: 400px;
    margin: 20px auto; 
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel-item {
    min-width: 400px;
    box-sizing: border-box;
    position: relative;
}

.carrusel-item img {
    width: 100%;
    height: auto;
    display: block;
}

.carrusel-caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.carrusel-caption h3 {
    margin: 0;
    font-size: 1.1em;
}

.carrusel-caption p {
    margin: 5px 0 0;
    font-size: 0.9em;
}

#prev-btn, #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 1;
    z-index: 10;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}

/* Nuevos estilos para las secciones de noticias e innovaciones */
.info-section {
    width: 80%;
    margin: 2rem auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.info-title {
    color: #4CAF50;
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}

.info-title::before {
    content: "●";
    color: #4CAF50;
    margin-right: 10px;
}

.info-subtitle {
    color: #333;
    font-size: 1.2rem;
    margin-top: 0;
}

.info-content p {
    line-height: 1.6;
    color: #555;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f4;
    color: #555;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e1e1e1;
}